main {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, blueviolet, rgb(107, 12, 196))
}

.conteudo {
  background-color: rgba(176, 85, 255, 0.53);
  height: 50rem;
  width: 65rem;
  border: 2px solid rgba(255, 255, 255, 0.72);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.contador-titulo {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 1rem;
  padding-bottom: 2.5rem;
  color: white;
  text-align: center;
}

.tabela {
  font-size: 4.5rem;
  font-weight: 700;
  color: white;
  text-align: center;
}

.contador-subtitulo {
  font-size: 2.5rem;
  font-weight: 400;
}

@media screen and (max-width: 1100px) {
  .conteudo {
    background-color: rgba(176, 85, 255, 0.53);
    height: 90rem;
    width: 40rem;
    border: 2px solid rgba(255, 255, 255, 0.72);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  
  .contador-titulo {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0 1rem;
    padding-bottom: 2.5rem;
    color: white;
    text-align: center;
  }
  
  .tabela {
    font-size: 6.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }
  
  .contador-subtitulo {
    font-size: 2.5rem;
    font-weight: 400;
  }
}


@media screen and (max-width: 768px) {
  .conteudo {
    background-color: rgba(176, 85, 255, 0.53);
    height: 80rem;
    width: 25rem;
    border: 2px solid rgba(255, 255, 255, 0.72);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  
  .contador-titulo {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0 1rem;
    padding-bottom: 2.5rem;
    color: white;
    text-align: center;
  }
  
  .tabela {
    font-size: 6.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }
  
  .contador-subtitulo {
    font-size: 2.5rem;
    font-weight: 400;
  }
}


@media screen and (max-width: 480px) {
  .conteudo {
    background-color: rgba(176, 85, 255, 0.53);
    height: 30rem;
    width: 20rem;
    border: 2px solid rgba(255, 255, 255, 0.72);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  
  .contador-titulo {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 .5rem;
    padding-bottom: 2.5rem;
    color: white;
    text-align: center;
  }
  
  .tabela {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }
  
  .contador-subtitulo {
    font-size:.9rem;
    font-weight: 400;
  }
}